terratowns_endpoint="https://terratowns.cloud/api"
tft = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/tft"
  content_version = 2
}
brownies = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/brownies"
  content_version = 1 
}